# This is a basic workflow to help you get started with Actions

name: 'CI-test'

# Controls when the workflow will run
on:
  push:
    branches-ignore:
      - 'v-*'
      - 'main'
      - 'master'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
#    runs-on: macos-latest
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

      - name: Install curl-dev
        run: sudo apt install -y libcurl4-openssl-dev

      - name: Test package
        run: gradle check

#      - name: Report unit tests
#        uses: dorny/test-reporter@v1
#        if: always()
#        with:
#          name: Gradle Tests
#          path: '**/build/test-results/*/TEST-*.xml'
#          reporter: java-junit
#          fail-on-error: true
